/* styles to handle the sample web store project */

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a:link {
  text-decoration: none;
  color:white;
}

a:visited {
  text-decoration: none;
  color:white;
}

a:hover {
  text-decoration: none;
  font-weight: bolder;
  color: #fbbe4f;
}

a:active {
  text-decoration: underline;
  color:white;

}

/* Style the header */
header {
  background-color: #4a62d8;
  padding: 5px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  font-size: larger;
  float: left;
  width: 15%;
  /* height: 300px;  only for demonstration, should be removed */
  background: #76d0c0;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  color: white;
  padding: 0;
}

article {
  float: left;
  align-items: center;
  padding: 20px;
  width: 85%;
  background-color: #f1f1f1;
  /* height: 300px;  only for demonstration, should be removed */
}

/* use these with nav and article tags to size equally on each page... */
.home {
  height: 87vh;
}

.store {
  height: 160vh;
}

.register {
  height: 100vh;
}

.about {
  height: 120vh;
} 

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width:90%;
  display:flex;
  justify-content:space-between;
	margin: auto;
	padding: 20px;
 
}

.aboutcontainer {
  width: 100%;
  margin: 0px;  
  padding: 20px;
	display:flex;
  justify-content: center;
  align-items: center;
}

/* === These container classes for the home page allows for overlayed text on the banner === */
.homecontainer {
  position: relative;
}

.homepromoheader {
  position: absolute;
  font-size:36px;
  top: 35%;
  left: 2%;
  width: 50%;
  color: white;
}

.homepromo {
  position: absolute;
  font-size:16px;
  top: 60%;
  left: 2%;
  width: 30%;
  color: white;
}

/* === All effects for the About page cards... === */

.card {
  height: 350px;
  width: 300px;
  margin: 30px;
  overflow: hidden;
  border-radius: 15px;
}

card:hover {
  cursor: pointer;
}

.card:hover .leftintro {
  height: 230px;
  bottom: 20px;
  background: #746bab;
}

.card:hover .centerintro {
  height: 230px;
  bottom: 20px;
  background: #4a62d8;
}

.card:hover .rightintro {
  height: 230px;
  bottom: 20px;
  background: #1ab28a;
}

.card:hover .cardtext {
  opacity: 1;
  visibility: visible;
}

.card:hover img {
  transform: scale(1.1);
}

.cardheader {
  margin: 5px;
  font-size: 32px;
}

.cardtext {
  font-size: 16px;
  margin: 10px;
  visibility: hidden;
  opacity: 0;
  color:#f1f1f1;
}

.leftintro {
  height: 70px;
  width: 300px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  bottom: 10px;
  background: rgba(116, 107, 171, .5);
  color: white;
  transition: .5s;
}

.centerintro {
  height: 70px;
  width: 300px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  bottom: 10px;
  background: rgba(74, 98, 216, .5);
  color: white;
  transition: .5s;
}

.rightintro {
  height: 70px;
  width: 300px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  bottom: 10px;
  background: rgba(26, 178, 138, .5);
  color: white;
  transition: .5s;
}

.aboutimages {
  height: 350px;
  transition: .5s;
}

#leftbox {
  float: left;
  color:white;
  background: #746bab;
  width: 33%;
  height: 280px;
}

#middlebox {
  float: left;
  color:white;
  background: #4a62d8;
  width: 33%;
  height: 280px;
}

#rightbox {
  float: right;
  color:white;
  background: #1ab28a;
  width: 33%;
  height: 280px;
}

#storeh2, #producth2 {
  font-style: italic;
}

table {
  /* font-family: arial, sans-serif; */
  border-collapse: collapse;
  width: 60%;
  margin-left:auto;
  margin-right:auto;
}

h1, h2, form {
  text-align:center;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  color: #ffffff;
  background-color: #4a62d8;
}

tr:nth-child(even) {
  background-color: #76d0c0;
}

.returns {
  background-color: #1ab28a;
  color:white;
  width:40%;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
}

.warranty {
  background-color:#746bab;
  color:white;
  width:40%;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
}

.loginform {
  background-color:#fbbe4f;
  width:30%;
  margin:auto;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
}

.loginform p {
	justify-content: center;
}

.loginform a:hover, .registrationform a:hover {
  text-decoration: none;
  font-weight: bolder;
  color: white;
}

.homepromo a:link {
  text-decoration: underline;
}

.homepromo a:hover {
  text-decoration: underline;
  font-weight: bolder;
  color: white;
}

.loginbutton {
  background-color: #4a62d8;
  color: white;
  border-radius:15px;
  height: 30px;
  width: 80px;

}

.forminputs {
  border-radius:5px;

}

.registrationform {
  background-color:#fbbe4f;
  width:30%;
  margin:auto;
  padding: 10px;
  border-radius: 15px;
}

.registerbutton {
  background-color: #4a62d8;
  color: white;
  border-radius:15px;
  width: 130px;
  height: 30px;
}



/* Style the footer */
footer {
  background-color: #fbbe4f;
  padding: 10px;
  text-align: center;
  color: black;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}