/* styles to handle the sample web store project */

:root {
  --white: white;
  --black: black;
  --light-white: #f1f1f1;
  --light-gold: #fbbe4f;
  --purple: #4a62d8;
  --almost-black: #1f1f1f;
  --aquamarine: #76d0c0;
  --dark-aquamarine: #1ab28a;
  --violet: #746bab;
  --translucent-violet: rgba(116, 107, 171, .5);
  --translucent-purple: rgba(74, 98, 216, .5);
  --translucent-aquamarine: rgba(26, 178, 138, .5);
  --table-border-gray: #dddddd;
}


* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a:link {
  text-decoration: none;
  color: var(--white);
}

a:visited {
  text-decoration: none;
  color:var(--white);
}

a:hover {
  text-decoration: none;
  font-weight: bolder;
  color: var(--light-gold);
}

a:active {
  text-decoration: underline;
  color: var(--white);

}

/* === The following is used to animate the social icons === */

.anchor-item {
  transform: translateY(0px);
  transition: .2s;
}

.anchor-item:hover {
  /* animation-name: bounceup;
  animation-duration: .2s; */
  transform: translateY(-2px);
  transition: .2s;
}

/* @keyframes bounceup {
  from {
      transform: translateY(0);
  }

  to {
      transform: translateY(-2px);
  }
} */

/* Style the header */
header {
  background-color: var(--purple);
  padding: 5px;
  text-align: center;
}

/* Create two columns/boxes that floats next to each other */
nav {
  font-size: larger;
  float: left;
  width: 15%;
  /* height: 300px;  only for demonstration, should be removed */
  background: var(--aquamarine);
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  color: var(--white);
  padding: 0;
}

article {
  float: left;
  align-items: center;
  padding: 20px;
  width: 85%;
  background-color: #var(var(--light-white));
  /* height: 300px;  only for demonstration, should be removed */
}

/* use these with nav and article tags to size equally on each page... */
.home {
  height: 3000px;
}

.homecolumns {
  column-count: 3;
  column-gap: 50px;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: var(--almost-black);
}

 .store {
  height: 160vh;
}

.register {
  height: 100vh;
}

.about {
  height: 120vh;
} 

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width:90%;
  display:flex;
  justify-content:space-between;
	margin: auto;
	padding: 20px;
 
}

.aboutcontainer {
  width: 100%;
  margin: 0px;  
  padding: 20px;
	display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* === These container classes for the home page allows for overlayed text on the banner === */
.homecontainer {
  position: relative;
}

.homepromoheader {
  position: absolute;
  font-size:36px;
  top: 35%;
  left: 2%;
  width: 50%;
  color: var(--white);
}

.homepromo {
  position: absolute;
  font-size:16px;
  top: 60%;
  left: 2%;
  width: 30%;
  color: var(--white);
}

.shoplink {

position: absolute;
font-size: 16px;
top: 85%;
left: 2%;
width: 30%;
color: var(--white);
}

/* === All effects for the About page cards... === */

.card {
  height: 350px;
  width: 300px;
  margin: 30px;
  overflow: hidden;
  border-radius: 15px;
}

card:hover {
  cursor: pointer;
}

.card:hover .leftintro {
  height: 230px;
  bottom: 5px;
  background: var(--violet);
}

.card:hover .centerintro {
  height: 230px;
  bottom: 5px;
  background: var(--purple);
}

.card:hover .rightintro {
  height: 230px;
  bottom: 5px;
  background: var(--dark-aquamarine);
}

.card:hover .cardtext {
  opacity: 1;
  visibility: visible;
  transition: .5s;
}

.card:hover img {
  transform: scale(1.1);
}

.cardheader {
  position: relative;
  margin: 5px;
  font-size: 32px;
  overflow: hidden;
}

.cardtext {
  font-size: 16px;
  margin: 10px;
  visibility: hidden;
  opacity: 0;
  color:#f1f1f1;
  transition: .5s;
}

.leftintro {
  height: 70px;
  width: inherit;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  bottom: 10px;
  background: var(--translucent-violet);
  color: white;
  transition: .5s;
}

.centerintro {
  height: 70px;
  width: inherit;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  bottom: 10px;
  background: var(--translucent-purple);
  color: white;
  transition: .5s;
}

.rightintro {
  height: 70px;
  width: inherit;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  bottom: 10px;
  background: var(--translucent-aquamarine);
  color: white;
  transition: .5s;
}

.aboutimages {
  position: relative;
  height: 350px;
  transition: .5s;
}

#leftbox {
  float: left;
  color:white;
  bottom: 5%;
  background: var(--violet);
  width: 33%;
  height: 280px;
}

#middlebox {
  float: left;
  color:white;
  bottom: 5%;
  background: var(--purple);
  width: 33%;
  height: 280px;
}

#rightbox {
  float: right;
  color:var(--white);
  bottom: 5%;
  background: var(--dark-aquamarine);
  width: 33%;
  height: 280px;
}

table {
  /* font-family: arial, sans-serif; */
  border-collapse: collapse;
  width: 60%;
  margin-left:auto;
  margin-right:auto;
}

h1, h2, h3, form {
  text-align:center;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  color: #ffffff;
  background-color: #4a62d8;
}

tr:nth-child(even) {
  background-color: #76d0c0;
}

.returns {
  background-color: #1ab28a;
  color:white;
  width:500px;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
}

.warranty {
  background-color:#746bab;
  color:white;
  width:500px;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
}

.loginform {
  background-color:#fbbe4f;
  width: 425px;
  margin:auto;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
}

.loginform p {
	justify-content: center;
}

.loginform a:hover, .registrationform a:hover {
  text-decoration: none;
  font-weight: bolder;
  color: white;
}

.shoplink a:link {
  text-decoration: underline;
}

.shoplink a:hover {
  text-decoration: underline;
  font-weight: bolder;
  color: white;
}

.loginbutton {
  background-color: #4a62d8;
  color: white;
  border-radius:15px;
  height: 30px;
  width: 80px;

}

.forminputs {
  border-radius:5px;

}

.registrationform {
  background-color:#fbbe4f;
  width:350px;
  margin:auto;
  padding: 10px;
  border-radius: 15px;
}

.registerbutton {
  background-color: #4a62d8;
  color: white;
  border-radius:15px;
  width: 130px;
  height: 30px;
}



/* Style the footer */
footer {
  background-color: #fbbe4f;
  padding: 10px;
  text-align: center;
  color: black;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column.img {
  margin-top: 8px;
  vertical-align: middle;
}



/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */

@media(max-width: 1364px) {

  article.about {
    min-height: 1500px;
  }

  .leftintro, .centerintro {
    bottom: 85px;
  }

  .card:hover .leftintro, .card:hover .centerintro {
    bottom: 80px;
  }
  
  .rightintro {
    bottom: -325px;
  }

  .card:hover .rightintro {
    bottom: -330px;
  }

  .rightintro {
    bottom: -325px;
  }

  .card:hover .rightintro {
    bottom: -330px;
  }
}

@media (max-width: 1150px) {

  article {
    min-height: 4800px;
  }

  .homepromo {display: none;}
  .homepromo.a {display: flex;}
  .homepromoheader {
    font-size:24px;
    top: 20%;
    width: 40%;
  }
  .shoplink {
    top: 75%;
  }

  .homecolumns {
    column-count: 2;
    column-gap: 40px;
  }
}

@media(max-width: 950px) {

  nav.home, nav.store, nav.register, nav.about {
    width: 100%;
    height: auto;
  }

  article {
    align-items: center;
    min-height: 4500px;
  }

  .leftintro {
    bottom: -75px;
  }

  .card:hover .leftintro {
    bottom: -80px;
  }

  .centerintro {
    bottom: -470px;
  }

  .card:hover .centerintro {
    bottom: -475px;
  }
  
  .rightintro {
    bottom: -875px;
  }

  .card:hover .rightintro {
    bottom: -880px;
  }

  .column {
    flex: 50%;
    max-width: 50%;
  }

}



@media (max-width: 840px) {

  article.home {
    height: 2200px;
  }

  table, .returns, .warranty, .loginform {
    width: 350px;
  }

  .homecolumns {
    column-width: 200px;
  }

}

@media(max-width: 603px) {

/*   article.about {
    min-height: 1900px;
  } */
  
}

@media (max-width: 600px) {


/*   article {
    height: 210vh;
  } */

  .card .leftintro .centerintro .rightintro {

    width: inherit;
  }

  .column {
    flex: 100%;
    max-width: 100%;
  }
}
